PORT=4312
NODE_ENV=production
APP_ORIGIN=https://hyun-schedule.gltr-ous.us

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://hyun-schedule.gltr-ous.us/api/auth/google/callback
GOOGLE_CALENDAR_ID=

EMAIL_USER=
EMAIL_PASS=
ADMIN_PASSWORD=
ENCRYPTION_KEY=
SESSION_SECRET=
JWT_SECRET=
ADMIN_SESSION_SECRET=
